@font-face {
	font-family: 'DK Saffron Walden';
	src: url('../assets/DKSaffronWalden.eot');
	src: url('../assets/DKSaffronWalden.eot?#iefix') format('embedded-opentype'),
		   url('../assets/DKSaffronWalden.woff') format('woff'),
		   url('../assets/DKSaffronWalden.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('../assets/cabin.otf');
    font-weight: normal;
    font-style: normal;

  }

@import 'app.scss';
@import 'footer.scss';

