
@font-face {
  font-family: "Charter";
  src: url("/../assets/Charter.ttc") format("ttc")
}

@font-face {
  font-family: "DK Saffron Walden";
  src: url("/../assets/DK Saffron Walden.otf") format("otf")
}

@mixin background-pattern(){
     margin-top: 100px;
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     background-size: 100px; 
}


body, html, #root, .App, .content-container {
  position: relative;
  height: 100%;
  text-align: center;
  font-family: "Charter", Georgia, 'Times New Roman', Times, serif
}


.content-container {
  padding: 10px;
  transition: background-color 2s ease-in-out;
  will-change: background-color;
  overflow: hidden;

  h2 {
    font-size: 23px; 
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
  }

  .share-container { //hidden state after option is selected
    transform: translateY(2000px);
    transition: all .5s ease-in-out;
  }

    &.none {
    background-color: #F4F4F4;  // Need to be gradients

      .intro {
        transform: translateY(0);
        transition: all 10s ease-in-out;
      }

      .toggle-container {
        height: 40%;
        transform: translateY(40%)
      }

  &>.share-container { //State when homepage is loaded
    transform: none;
    bottom: 0;
    left:0;
    position: absolute;
    width: 100%;
    height: 121px;

    @media(max-width: 768px){
      bottom: 5%;
    }

    .share-box {
      /*background-color: #FFF;*/
      background-image: url(../assets/share_tag.svg);
      mask-image: none;
      background-size: contain;
      background-repeat: no-repeat;
      //border-radius: 10px;
      //box-shadow: 0px 7px 8px 0px #32323C;
      width: 300px;
      height: 120px;
      margin: 0 auto;

      .icon-container {
        bottom: 0;
      }
    }

  &.share-quote {
    top: 0;
    height: 100%;

   
  }
        }
      
  }

  &.gift-responses {
    background-color: #EE3E4C;
    border-color: #EE3E4C;

    .choice-toggle {
    background-color: #EE3E4C;
    border-color: #EE3E4C;
    }

  .choice-contents {
    background-image: url(../assets/ribbon.svg), url(../assets/bubble_desktop.svg);
    background-size: 50% 75%, 550px 310px;
    background-repeat: no-repeat;
    background-position-x: -20%, center;
    background-position-y: -2%, center;
    }

    .choice-container .share-box {
      background-color: #EE3E4C;
    }

  .pattern-container {
    @include background-pattern();
    background-image: url(../assets/grid_diagonals.svg);
    
    }

  }

  &.invitation-excuses {
    background-color: #665EC1;

    .choice-toggle {
    background-color: #665EC1;
    border-color: #665EC1;
    }

    .choice-contents {
    background-image: url(../assets/reindeer.svg), url(../assets/bubble_desktop.svg);
    background-size: 50% 50%, 550px 310px;
    background-repeat: no-repeat;
    background-position-x: -20%, center;
    background-position-y: -21%, center;
    }
    
    .pattern-container {
    @include background-pattern();
    background-image: url(../assets/grid_zigzag.svg);
    }

    .choice-container .share-box {
      background-color: #665EC1;
    }

  }

  &.seasons-greetings {
    background-color: #64BD71;


    .choice-toggle {
    background-color: #64BD71;
    border-color: #64BD71;
    }

    .choice-contents {
    background-image: url(/static/media/holly.64748667.svg), url(/static/media/bubble_desktop.c6c7f8e7.svg);
    background-size: 55% 60%, 550px 310px;
    background-repeat: no-repeat;
    background-position-x: -40%, center;
    background-position-y: -5%, center;
    width: 650px;
    }

    .choice-container .share-box {
      background-color: #64BD71;
    }
    
    .pattern-container {
    @include background-pattern();
    background-image: url(../assets/grid_crosses.svg);
    }
  }

  .intro {
    transform: translateY(-200%);
    margin: 0 auto;
    width: 40%;
    transition: all .5s ease-in-out;



  &.fade-leave {
  height: 30%;
  transition: all .5s ease-in-out;


  &.fade-leave-active {
   height: 0;
  }
}

    @media(max-width: 768px){
      width:100%
    }
  }
}

.choice-contents {
  
  width: 600px;
  height: 200px;
  padding: 25px;
  z-index: 2;
  line-height: 180px;
  top: 85px;
}

.choice-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 55%;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 35%;
  transition: all .5s ease;
  width: 100%;

  button {
    appearance: none;
    background: transparent;
    border-radius: 20px;
    margin: 30px;
    z-index: 10;
    position: relative;
    cursor: pointer;
  }

  .share-container { //State behind quote
    transform: none;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 30px;
    
  }
}

.fade-enter {
  opacity: 0;


  &.fade-enter-active {
    opacity: 1;
    transition: all .5s ease-in-out;

  }
}

.fade-appear {
  opacity: 0;


  &.fade-appear-active {
    opacity: 1;
      transition: all .5s ease-in-out;

  }
}


.fade-leave {
  opacity: 1;


  &.fade-leave-active {
    opacity: 0;
    transition: all .5s ease-in-out;

  }
}


.hidden {
  opacity: 0;
  z-index: -1;
}

 .share-box {
      display: flex;
      height: 100%;
      position: relative;
      /*flex-direction: column; 
      justify-content: space-between;*/
      mask-image: url(../assets/banner_desktop.svg);
      background-repeat: no-repeat;
      //background-color: #FFF;
      //border-radius: 10px;
      //box-shadow: 0px 7px 8px 0px #32323C;
      height:350px;
      width: 275px;
      margin: 0 auto;

      p {
        position: absolute;
        width: 100%;
        top: 0;
      }

      .icon-container {
        position: absolute;
        bottom: 30px;
        width: 100%;
        svg {
          font-size: 40px;
        }
      }
    }

.toggle-container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  top: 0;
  justify-content: space-around;
  position: absolute;
  transition: all 1s ease-in-out;
  width: 100%;

  .choice-toggle {
    border: 24px solid transparent;
    color: #171615;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    width: 175px;
    transition: all 2s ease-in-out;

    &.gift-responses {
      background-image: url(../assets/cta_diagonals.svg)
    }

    &.seasons-greetings {
     background-image: url(../assets/cta_crosses.svg);
    }

    &.invitation-excuses {
      background-image: url(../assets/cta_zigzag.svg);
    }

  }
}

