@font-face {
  font-family: 'DK Saffron Walden';
  src: url("../assets/DKSaffronWalden.eot");
  src: url("../assets/DKSaffronWalden.eot?#iefix") format("embedded-opentype"), url("../assets/DKSaffronWalden.woff") format("woff"), url("../assets/DKSaffronWalden.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  min-height: 0;
  min-width: 0; }

/*$seasons-greetings-gradient: linear-gradient(30deg, #88C685, #51BD6C);*/
/*$invitation-excuses-gradient: linear-gradient(30deg, #7583CC, #7C6ACC);*/
/*Adapted from https://codepen.io/GhostRider/pen/FctLB/ */
@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -1px) rotate(-1deg); }
  20% {
    transform: translate(-1px, 0px) rotate(1deg); }
  30% {
    transform: translate(0px, 1px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 1px) rotate(-1deg); }
  60% {
    transform: translate(-1px, 1px) rotate(0deg); }
  70% {
    transform: translate(1px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 1px) rotate(0deg); }
  100% {
    transform: translate(1px, -1px) rotate(-1deg); } }

@keyframes button-animate {
  from {
    background-position-Y: 0; }
  to {
    background-position-Y: 200%; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body, html, #root, .App, .content-container {
  position: relative;
  height: 100%;
  text-align: center;
  font-family: "Charter", Georgia, 'Times New Roman', Times, serif; }

.shake:hover, .shake:focus {
  animation: wiggle .5s infinite;
  opacity: 1; }

.pattern-container {
  margin-top: 100px;
  height: 100vh;
  top: 0;
  width: 100%;
  position: absolute;
  left: 0;
  background-size: 175px;
  transform: translateY(100%);
  transition: all 2s ease-in-out;
  transition-delay: .5s; }

.content-container {
  padding: 0 10px;
  transition: all 2s ease-in-out;
  will-change: background-color;
  overflow: hidden; }
  .content-container h2 {
    font-size: 22px;
    line-height: 1.25;
    text-transform: uppercase; }
    .content-container h2.title {
      font-family: 'DK Saffron Walden', sans-serif;
      text-transform: uppercase; }
  .content-container p {
    font-size: 14px; }
  .content-container > .share-container.homepage {
    transform: none;
    bottom: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 121px;
    opacity: 1; }
    .content-container > .share-container.homepage a, .content-container > .share-container.homepage a:visited {
      color: #1D1E1B; }
    @media (max-width: 480px) {
      .content-container > .share-container.homepage {
        bottom: 5%; } }
    .content-container > .share-container.homepage .share-box {
      background-image: url(../assets/share_tag.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 300px;
      height: 120px;
      margin: 0 auto;
      top: 0; }
      .content-container > .share-container.homepage .share-box .top-text {
        margin-left: 15px;
        top: 10px;
        width: 80%; }
        .content-container > .share-container.homepage .share-box .top-text p {
          text-align: left;
          margin-top: 10px; }
      .content-container > .share-container.homepage .share-box p, .content-container > .share-container.homepage .share-box .icon-container {
        color: #1D1E1B; }
      .content-container > .share-container.homepage .share-box .icon-container {
        bottom: 0;
        left: 0; }
        .content-container > .share-container.homepage .share-box .icon-container p {
          display: none; }
        .content-container > .share-container.homepage .share-box .icon-container .icons {
          justify-content: flex-start; }
  .content-container.seasons-greetings .share-container.homepage, .content-container.invitation-excuses .share-container.homepage, .content-container.gift-responses .share-container.homepage {
    transition: all 2s ease-in-out;
    transform: translateY(2000px);
    opacity: 0; }
  .content-container.seasons-greetings a, .content-container.seasons-greetings a:visited, .content-container.invitation-excuses a, .content-container.invitation-excuses a:visited, .content-container.gift-responses a, .content-container.gift-responses a:visited {
    color: #F6F6F6; }
  .content-container.seasons-greetings .pattern-container, .content-container.invitation-excuses .pattern-container, .content-container.gift-responses .pattern-container {
    transform: translateY(0); }
    .content-container.seasons-greetings .pattern-container:before, .content-container.invitation-excuses .pattern-container:before, .content-container.gift-responses .pattern-container:before {
      opacity: 1; }
  .content-container.none {
    background-color: #F6F6F6; }
    .content-container.none .intro {
      transform: translateY(0);
      transition: all 2s ease-in-out; }
    .content-container.none .toggle-container {
      transform: translateY(30vh); }
      .content-container.none .toggle-container .choice-toggle {
        background-color: #F6F6F6;
        opacity: 1;
        color: #1D1E1B; }
  .content-container.gift-responses {
    background: #E24A6B;
    border-color: #E24A6B; }
    .content-container.gift-responses .toggle-button-container .choice-toggle, .content-container.gift-responses .toggle-button-container .choice-toggle:after {
      background-color: #E24A6B;
      border-color: #E24A6B; }
    .content-container.gift-responses .choice-toggle.gift-responses {
      color: #1D1E1B; }
      .content-container.gift-responses .choice-toggle.gift-responses:after {
        background-color: transparent; }
  .content-container.invitation-excuses {
    background: #7583CC; }
    .content-container.invitation-excuses .toggle-button-container .choice-toggle, .content-container.invitation-excuses .toggle-button-container .choice-toggle:after {
      background-color: #7583CC;
      border-color: #7583CC; }
    .content-container.invitation-excuses .choice-toggle.invitation-excuses {
      color: #1D1E1B; }
      .content-container.invitation-excuses .choice-toggle.invitation-excuses:after {
        background-color: transparent; }
  .content-container.seasons-greetings {
    background: #88C685; }
    .content-container.seasons-greetings .toggle-button-container .choice-toggle, .content-container.seasons-greetings .toggle-button-container .choice-toggle:after {
      background-color: #88C685;
      border-color: #88C685; }
    .content-container.seasons-greetings .choice-toggle.seasons-greetings {
      color: #1D1E1B; }
      .content-container.seasons-greetings .choice-toggle.seasons-greetings:after {
        background-color: transparent; }
  .content-container .choice-contents {
    cursor: pointer; }
    .content-container .choice-contents.gift-responses {
      background-image: url(../assets/ribbon.svg), url(../assets/bubble_desktop.png);
      background-size: 50% 75%, 550px 270px;
      background-repeat: no-repeat;
      background-position-x: -20%, center;
      background-position-y: 17%, -65%;
      transform: translateY(0); }
      @media (max-width: 480px) {
        .content-container .choice-contents.gift-responses {
          background-image: url(../assets/bubble_mobile.png);
          background-size: 110% 100%;
          background-position: 0 20px; } }
    .content-container .choice-contents.invitation-excuses {
      background-image: url(../assets/reindeer.svg), url(../assets/bubble_desktop.png);
      background-size: 50% 50%, 550px 270px;
      background-repeat: no-repeat;
      background-position-x: -11%, center;
      background-position-y: -17%, -65%;
      transform: translateY(0); }
      @media (max-width: 480px) {
        .content-container .choice-contents.invitation-excuses {
          background-image: url(../assets/bubble_mobile.png);
          background-size: 110% 100%;
          background-position: 0 20px; } }
    .content-container .choice-contents.seasons-greetings {
      background-image: url(../assets/holly.svg), url(../assets/bubble_desktop.png);
      background-size: 55% 60%, 550px 270px;
      background-repeat: no-repeat;
      background-position-x: -40%, center;
      background-position-y: -5%, -65%;
      transform: translateY(0); }
      @media (max-width: 480px) {
        .content-container .choice-contents.seasons-greetings {
          background-image: url(../assets/bubble_mobile.png);
          background-size: 110% 100%;
          background-position: 0 20px; } }
  .content-container .pattern-container.seasons-greetings {
    opacity: .15;
    background-image: url(../assets/grid_crosses.svg); }
    .content-container .pattern-container.seasons-greetings:before {
      content: "SEASONS GREETINGS";
      position: absolute;
      z-index: 0;
      bottom: 100px;
      left: -50px;
      font-size: 200px;
      font-weight: bold;
      max-width: 50%;
      color: transparent;
      text-align: left;
      font-family: "DK Saffron Walden", sans-serif;
      transition: all 2s ease-in-out;
      transition-delay: 1.5s;
      color: rgba(0, 0, 0, 0.15); }
  .content-container .pattern-container.gift-responses {
    opacity: .33;
    background-image: url(../assets/grid_diagonals.svg); }
    .content-container .pattern-container.gift-responses:before {
      content: "GIFT RESPONSES";
      position: absolute;
      z-index: 0;
      bottom: 100px;
      left: -50px;
      font-size: 200px;
      font-weight: bold;
      max-width: 50%;
      color: transparent;
      text-align: left;
      font-family: "DK Saffron Walden", sans-serif;
      transition: all 2s ease-in-out;
      transition-delay: 1.5s;
      color: rgba(0, 0, 0, 0.15); }
  .content-container .pattern-container.invitation-excuses {
    opacity: .33;
    background-image: url(../assets/grid_zigzag.svg); }
    .content-container .pattern-container.invitation-excuses:before {
      content: "INVITATION EXCUSES";
      position: absolute;
      z-index: 0;
      bottom: 100px;
      left: -50px;
      font-size: 200px;
      font-weight: bold;
      max-width: 50%;
      color: transparent;
      text-align: left;
      font-family: "DK Saffron Walden", sans-serif;
      transition: all 2s ease-in-out;
      transition-delay: 1.5s;
      color: rgba(0, 0, 0, 0.15); }
  .content-container .intro {
    transform: translateY(-200%);
    margin: 0 auto;
    width: 40%;
    height: 30%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 2s ease-in-out; }
    .content-container .intro.fade-leave {
      height: 30deg;
      transition: all 2s ease-in-out; }
      .content-container .intro.fade-leave.fade-leave-active {
        height: 0; }
    @media (max-width: 480px) {
      .content-container .intro {
        width: 100%; }
        .content-container .intro p {
          font-size: 13px; }
        .content-container .intro h2 {
          margin: 0 5px; } }

.choice-contents {
  width: 600px;
  height: 200px;
  padding: 25px;
  position: relative;
  z-index: 2;
  top: 85px;
  font-family: "DK Saffron Walden", sans-serif;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s ease-in-out;
  transition-property: transform;
  transition-delay: .5s; }
  @media (max-width: 480px) {
    .choice-contents {
      width: 100%;
      height: 225px;
      padding: 0; } }
  .choice-contents p {
    margin: 0 auto;
    margin-top: -30px;
    width: 375px;
    font-size: 24px; }
    @media (max-width: 480px) {
      .choice-contents p {
        font-size: 20px;
        width: 100%;
        max-width: 250px;
        margin-top: -20px; } }

.choice-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 2s ease-in-out;
  width: 100%;
  height: 100%; }
  .choice-container button {
    appearance: none;
    background: transparent;
    border-radius: 20px;
    margin: 30px;
    z-index: 10;
    position: relative;
    cursor: pointer; }
  .choice-container .share-container {
    transform: none;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: all 2s ease-in-out; }
    @media (max-width: 480px) {
      .choice-container .share-container {
        margin-top: 100px; } }
    @media (max-width: 480px) {
      .choice-container .share-container .icon-container {
        bottom: 15%; } }
    .choice-container .share-container .icon-container .icons {
      margin: 0 auto;
      left: 0;
      padding: 0 50px; }

.fade-enter {
  opacity: 0; }
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: all 2s ease-in-out; }

.fade-appear {
  opacity: 0; }
  .fade-appear.fade-appear-active {
    opacity: 1;
    transition: all 2s ease-in-out; }

.fade-leave {
  opacity: 1; }
  .fade-leave.fade-leave-active {
    opacity: 0;
    transition: all 2s ease-in-out; }

.hidden {
  opacity: 0;
  transform: translateY(200%); }
  .hidden .choice-contents {
    transform: translateY(200%) !important;
    transition-delay: .5s; }
  .hidden .share-box {
    opacity: 0; }
  .hidden .pattern-container:before {
    color: transparent !important; }

.share-box {
  display: flex;
  height: 100%;
  position: relative;
  /*flex-direction: column; 
      justify-content: space-between;*/
  background-repeat: no-repeat;
  height: 410px;
  width: 400px;
  background-size: cover;
  margin: 0 auto;
  transition: all 2s ease-in-out; }
  .share-box.gift-responses {
    background-image: url(../assets/gr-banner_desktop.png); }
  .share-box.seasons-greetings {
    background-image: url(../assets/sg-banner_desktop.png); }
  .share-box.invitation-excuses {
    background-image: url(../assets/ie-banner_desktop.png); }
  @media (max-width: 480px) {
    .share-box.gift-responses {
      background-image: url(../assets/gr-banner_mobile.png);
      background-size: cover;
      height: 70%;
      width: 100%;
      background-position-x: 30%; }
    .share-box.seasons-greetings {
      background-image: url(../assets/sg-banner_mobile.png);
      background-size: cover;
      height: 70%;
      width: 100%;
      background-position-x: 30%; }
    .share-box.invitation-excuses {
      background-image: url(../assets/ie-banner_mobile.png);
      background-size: cover;
      height: 70%;
      width: 100%;
      background-position-x: 30%; } }
  .share-box p {
    color: #F6F6F6;
    font-size: 16px; }
  .share-box .top-text {
    position: relative;
    top: 50px;
    font-size: 14px;
    margin: 0 auto;
    width: 60%; }
    .share-box .top-text p {
      margin-top: 0; }
  .share-box .icon-container {
    color: #F6F6F6;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%; }
    .share-box .icon-container p {
      font-size: 13px; }
    .share-box .icon-container .icons {
      position: relative;
      left: -10px;
      top: -10px;
      display: flex;
      justify-content: center; }
      .share-box .icon-container .icons a {
        padding: 10px 20px; }
        .share-box .icon-container .icons a.mail-icon {
          margin-top: 5px; }
      .share-box .icon-container .icons svg {
        font-size: 24px;
        cursor: pointer; }
        .share-box .icon-container .icons svg:hover, .share-box .icon-container .icons svg:focus {
          animation: wiggle .5s infinite; }

.toggle-container {
  transform: translateY(0);
  align-items: center;
  display: flex;
  margin: 0 auto;
  top: 0;
  left: 0;
  position: absolute;
  transition: all 2s ease-in-out;
  width: 100%;
  height: auto;
  z-index: 4; }
  .toggle-container .toggle-button-container {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between; }
    .toggle-container .toggle-button-container .choice-toggle {
      border: 17px solid #F6F6F6;
      color: #1D1E1B;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: 175px;
      height: 175px;
      width: 175px;
      position: relative;
      transition: all 2s ease-in-out; }
      .toggle-container .toggle-button-container .choice-toggle:hover {
        animation: button-animate 0.5s steps(2) infinite; }
      .toggle-container .toggle-button-container .choice-toggle.gift-responses {
        background-image: url(../assets/cta_diagonals.svg); }
      .toggle-container .toggle-button-container .choice-toggle.seasons-greetings {
        background-image: url(../assets/cta_crosses.svg); }
      .toggle-container .toggle-button-container .choice-toggle.invitation-excuses {
        background-image: url(../assets/cta_zigzag.svg); }
      .toggle-container .toggle-button-container .choice-toggle:after {
        content: "";
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        height: 175px;
        width: 175px;
        background-color: transparent;
        filter: opacity(50%);
        transition: all 2s ease-in-out; }

.fade-enter {
  transform: translateY(-100%); }

.fade-enter.fade-enter-active {
  transform: translateY(0);
  transition: all 2s ease-in-out;
  transition-duration: .2s; }

.fade-leave {
  transform: translateY(0); }

.fade-leave.fade-leave-active {
  transform: translateY(100%);
  transition: all 2s ease-in-out;
  transition-duration: 2s; }

.slick-track, .slick-slider {
  display: flex; }

.slick-slide {
  width: 175px !important; }

.slider-decorator-0 button,
.slider-decorator-1 button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none; }
